body{
    font-family: Arial, sans-serif;
    background:#1e1e2f;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.quiz-container{
    background:white;
    width:400px;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.btn-grid{
    display:grid;
    gap:10px;
    margin:20px 0;
}

button{
    padding:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#3498db;
    color:white;
    font-size:16px;
}

button:hover{
    background:#2980b9;
}

.correct{
    background:green !important;
}

.wrong{
    background:red !important;
}

.hide{
    display:none;
}